{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/admin_dashboard_cards.html'%}
<!-- <h1 class="display-4">Display 4</h1> -->

<!-- <br> -->
<h4 align="center"> Discaharge update</h4>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>no of days or time</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Status</th>
      <th>update</th>

    </tr>
  </thead>
  <tbody>
    {% for p in patients %}
        <tr>
          <td>{{ p.id }}</td>
          <td> {{p.first_name}}</td>
         <!--  <td>{{p.symptoms}}</td> -->
          <td >  <p       style="color:
         {% if p.updated > 15 %} 
              green
          {% endif %}
          {% if p.updated < 5 %}
           red

          {% endif %}
          {% if p.updated > 5 and  p.updated < 15 %}
          yellow
          {%  endif %}

    ;font-size:180%;font-weight : bold">{{p.updated }}</p> </td>
          <td>{{p.mobile}}</td>
          <td>{{p.address}}</td>
         
          <td> <span class="label label-primary">{{p.status1}}</span></td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'test-patient' p.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
          
         
        </tr>
        {% endfor %}
    
  </tbody>
</table>

{% endblock content %}
