
{% extends 'hospital/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>






<style >
  body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
</style>









<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
         
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm" >
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{% static p.profile_pic.url %}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 id='ReeFirstName'>{{ p.first_name}}</h4>
                      
                <a href="{% url 'test-patient' p.id  %}">      <button class="btn btn-primary">Update</button> </a>
                     <a onclick="return confirm('Are you sure?')" href="{% url 'delete-patient-from-hospital' p.id  %}"> <button class="btn btn-outline-primary">Delete</button></a>

                     </script>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
  <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg>admitDate</h6>
                    <span class="text-secondary">{{ p.admitDate }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
  <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg>updated Date</h6>
                    <span class="text-secondary">{{ p.updated  }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Patient Type</h6>
                    <span class="text-secondary"><strong>{{p.Patient_type_1}}</strong></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Status</h6>
                    <span class="text-secondary">{{    p.status1  }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>assignedDoctorId</h6>
                    <span class="text-secondary">{{ d.first_name  }}</span>
                  </li>
                </ul>
              </div>
            </div>






            <!-- here satrt editing -->
            <div class="col-md-8" >
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <strong id="ReFirstName"> {{   p.first_name }} </strong>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <strong id="ReLastName">{{ p.last_name   }} </strong> 
                    </div>
                  </div>
                  <hr>
                   <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Age</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <strong id="ReLastName">{{ p.age   }} </strong> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <strong id="ReMobile">{{ p.mobile }}</strong>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">symptoms</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <strong> {{  p.symptoms }} </strong>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <strong id='ReAddress'>{{ p.address   }} </strong> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                     <!--  <a class="btn btn-info " href="{% url 'update-patient' p.id  %}">Edit</a> -->
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Editing"  > Edit</button>
                     <!-- <a class="btn btn-primary btn-xs" href="{% url 'discharge-patient' p.id  %}"><span class="glyphicon glyphicon-log-out"> -->
                    </div>
                  </div>
                </div>
              </div>
          

            <!-- Button trigger modal -->



<style type="text/css">
  /* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  /*text-align: center;*/
  background-color: #f1f1f1;
}
</style>
     
<div class="row">
  <div class="column">
    <div class="card">
      <small>Treatment Info Details..</small>
     <!--  <h3><strong>Lab Details</strong></h3>
     <label>LabId</label> <p>{{p.LabDetails.LabId }}</p> 
      <p>{{ p.LabDetails.LabName  }}</p>
      <p>{{  p.LabDetails.LabAddress  }}</p> -->
      <table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td  ><strong id = "ptreatId" style="color:blue;">{{p.treatmentInfo.TreatmentCode }}</strong></td>
      <td ><strong id = "ptreatName" style="color:blue;">{{ p.treatmentInfo.TreatmentName  }} </strong> </td>
      <td ><strong id = "ptreatAddress" style="color:blue;">{{  p.treatmentInfo.TreatmentCost  }}  </strong></td>
    </tr>
       </tbody>
</table>
    </div>
  </div>
  <!-- ptreatId ptreatName ptreatAddress -->

  <div class="column">
    <div class="card">
      <small>Lab Details</small>
      <table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td  ><strong  id = "pLabId" style="color:blue;">{{p.LabDetails.LabId }}</strong></td>
      <td ><strong id = "pLabName" style="color:blue;">{{ p.LabDetails.LabName  }} </strong> </td>
      <td ><strong id = "pLabAddress" style="color:blue;">{{  p.LabDetails.LabAddress  }}  </strong></td>
    </tr>
       </tbody>
</table>
    </div>
  </div>

             


</div></div></div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <table class="table">
  <thead>
    <tr>
      
      <th scope="col">Treatment ID</th>
      <th scope="col">Treatment Name</th>
      <th scope="col">Treatment Cost</th>
    </tr>
  </thead>
  <tbody>
    {%   for i in o %}
    <tr>
     
      <td>{{ i.TreatmentCode    }}</td>
      <td>{{  i.TreatmentName  }}</td>
      <td>{{  i.TreatmentCost   }}</td>
    </tr>
    {%  endfor %}
   
  </tbody>
</table>





    </div>
  </div>
</div>



                     <!-- LAB DETEALS -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lab Details</h5>
        <div class="alert alert-success">
        <strong id = 'sus'></strong> 
              </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Lab ID</label>
    <input type="text" class="form-control" id="LabID" name="LabID" placeholder="Lab ID">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">LAb Name</label>
    <input type="text" class="form-control" name="LabName" id="LabName" placeholder="Lab Name">
   
    <label for="formGroupExampleInput2">Lab Address</label>
    <input type="text" class="form-control" name="LabAddress" id="LabAddress" placeholder="Lab Address">
    <input type="hidden" name="something" id = 'PatientId' value="{{ p.id }}">
  </div>
</form>






      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="LabDetails()">Add</button>
      </div>
    </div>
  </div>
</div>







                                    <!-- view lab details -->
                                    <!-- Button trigger modal -->
                                    <!-- Button trigger modal -->


<script >
  let obj;
  function remove(){
      $("#myTable").remove();
      console.log(obj)
      // for (let i =0;i<obj.length;i++){

      //  var tr = document.getElementsByTagName("tr")[i+1].remove();
      // }
      // for (let i = 0 ; i < obj.length;i++){
      //            var table  = document.getElementById('table')
      //             console.log(obj[i].fields.LabId)
      //           var row = table.insertRow(i+1)
      //           var cell1 = row.insertCell(0)
      //           var cell2 = row.insertCell(1)
      //           var cell3 = row.insertCell(2)
      //           var cell4 = row.insertCell(3)

      //           cell1.remove() 
      //           cell2.remove()
      //           cell3.remove()
      //           cell4.remove()
      //           }

  }
  function LabDetails(){
    let real = true
    LabID = document.getElementById('LabID').value
    LabName = document.getElementById('LabName').value
    LabAddress = document.getElementById('LabAddress').value
    PatientId = document.getElementById('PatientId').value
    // token = document.getElementsByName("csrfToken").value;
    if (LabID == ''){alert('enter Lab id');real = false}
    if (LabName== ''){alert('enter LabName');real = false}
    if (LabAddress == ''){alert('enter LabAddress');real = false}

    if(real){

     $.ajax({
            method: "POST",
            url: "/labDetails",
            data: {'LabID':LabID,'LabName':LabName,'LabAddress':LabAddress,'PatientId':PatientId}

        })
     .done(function(response){
      LabID = document.getElementById('LabID').value =''
    LabName = document.getElementById('LabName').value=''
    LabAddress = document.getElementById('LabAddress').value = ''
    // PatientId = document.getElementById('PatientId').value
    console.log(response)
    sus = document.getElementById('sus').innerHTML = 'Success!'
    setTimeout(function(){
      sus = document.getElementById('sus').innerHTML = ''
    },5000)

   

  


     })
     .fail(function(response){
      console.log(response)
     })

    }
    console.log('not real')

  }


// deteals function
 function GetLab(){
    console.log('click')
    PatientId = document.getElementById('PatientId').value
    $.ajax({
      method:'GET',
      url: "/getLabDetails",
      data :{'PatientId':PatientId}
    })
    .done(function(response){
      // modalBody
      var x = document.createElement("TABLE");
        x.setAttribute("id", "myTable");
        x.setAttribute('class',"table")
        // document.body.appendChild(x);
        a = document.getElementById('modalBody').appendChild(x)

      // const tempOffices = JSON.parse(JSON.stringify(response))
      // console.log(response.data[0])
               obj = JSON.parse(response.data)
               console.log(obj)
                // var t = document.getElementById('table')

                // var col = [];
                for (let i = 0 ; i < obj.length;i++){
                 var table  = document.getElementById('table')
                  console.log(obj[i].fields.LabId)
                var row = myTable.insertRow(i);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3)

                cell1.innerHTML = i
                cell2.innerHTML = obj[i].fields.LabId
                cell3.innerHTML = obj[i].fields.LabName
                cell4.innerHTML = obj[i].fields.LabAddress
                }



      
    })
    .fail(function(response){
      console.log(response)
    })

  }




</script>

<!-- editing done here -->
<div class="modal fade" id="Editing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile Names</h5>
        <div class="alert alert-success" role="alert">
  <strong id = 'success'></strong>
</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- editing box statrets here -->
         <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="editFirstname" aria-describedby="emailHelp" placeholder="Enter First Name" value="{{  p.first_name   }}">
    
      </div>

       <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input type="text" class="form-control" id="editLastName" aria-describedby="emailHelp" placeholder="Enter LastName" value="{{  p.last_name }}">
    
      </div>

      <div class="form-group">
    <label for="exampleInputEmail1">Phone Number</label>
    <input type="text" class="form-control" id="editPhoneNumber" aria-describedby="emailHelp" placeholder="Enter Phone Number" value="{{  p.mobile }}">
    
      </div>
       
      <div class="form-group">
    <label for="exampleInputEmail1">Address</label>
    <input type="text" class="form-control" id="editAddress" aria-describedby="emailHelp" placeholder="Enter Address" value="{{ p.address   }}">
    
      </div>
      <div class="form-group">
        <label>Lab Details</label>
      <select class="form-control" id = 'LabSelect'>
        <option value="0">----------</option>
        {%  for i in LabDetails %}
        <option class="form-control" value="{{ i.id }}">{{i.LabId}} And {{ i.LabName }}</option>
        {%   endfor %}
      </select>
    </div>
    <div class="form-group">
      <label>Treatment Info</label>
    <select class="form-control" id = 'TreatmentInfoSelect'>
        <option value="0">----------</option>
        {%  for i in TreatmentInfo %}
        <option class="form-control" value="{{ i.id }}">{{i.TreatmentCode}} And {{ i.TreatmentName }}</option>
        {%   endfor %}
      </select>
    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveuserinformation()">Save changes</button>
        <script type="text/javascript">
          let real = true
          function saveuserinformation(){
            FirstName = document.getElementById('editFirstname').value
            LastName = document.getElementById('editLastName').value
            PhoneNumber = document.getElementById('editPhoneNumber').value
            Address = document.getElementById('editAddress').value
            PatientId = document.getElementById('PatientId').value
            if(FirstName == ''){alert('enter FirstName');real = false}
            if(LastName == ''){alert('enter Last Name');real = false}
            if(PhoneNumber == ''){alert('enter phone number');real = false}
            if(Address == ''){alert('Enter Address');real=false}
            LabId = document.getElementById('LabSelect').value
            TreatmentInfoSelect = document.getElementById('TreatmentInfoSelect').value
            if (real){
              $.ajax({
                method : 'GET',
                url: "/SaveChanges",
                data :{'PatientId':PatientId,'FirstName':FirstName,'LastName':LastName,'PhoneNumber':PhoneNumber,'Address':Address,'LabId':LabId,'T':TreatmentInfoSelect}


              })
              .done(function(response){
                console.log("helooo !!!!!")
                obj = JSON.parse(response.data)
                console.log(response)
                L = JSON.parse(response.L)
                console.log(L)
                T = JSON.parse(response.T)
                LAb = JSON.parse(response.Labb)
                console.log(LAb)
                console.log(T)
                console.log(obj)
                 first_name = obj[0].fields.first_name
                 last_name = obj[0].fields.last_name
                 PhoneNumber = obj[0].fields.mobile
                 Address = obj[0].fields.address
                 profile_name = document.getElementById('ReeFirstName').innerHTML = first_name
                 FirstName = document.getElementById('ReFirstName').innerHTML = first_name
                 LastName = document.getElementById('ReLastName').innerHTML = last_name
                 AAddress = document.getElementById('ReAddress').innerHTML = Address
                 mobile = document.getElementById('ReMobile').innerHTML = PhoneNumber

                 FirstName = document.getElementById('editFirstname').value = first_name
                 LastName = document.getElementById('editLastName').value = last_name
                 PhoneNumber = document.getElementById('editPhoneNumber').value = PhoneNumber
                 Address = document.getElementById('editAddress').value = Address
                   // </div>ptreatId ptreatName ptreatAddress

                 treaId = document.getElementById('ptreatId').innerHTML = T[0].fields.TreatmentCode
                 treaName = document.getElementById('ptreatName').innerHTML = T[0].fields.TreatmentName
                 treacost = document.getElementById('ptreatName').innerHTML = T[0].fields.TreatmentCost
                 // pLabId pLabName pLabAddress
                 lid  = document.getElementById('pLabId').innerHTML = L[0].fields.LabId
                 lname = document.getElementById('pLabName').innerHTML = L[0].fields.LabName
                 lad = document.getElementById('pLabAddress').innerHTML = L[0].fields.LabAddress

                 s = document.getElementById('success').innerHTML = 'Success!'
                   $(document).ajaxStop(function(){
    window.location.reload();
});
                 setTimeout(function(){
      su = document.getElementById('success').innerHTML = ''
    },5000)


              })
              .fail(function(response){
                console.log(response)
              })
            }
          }
        </script>
      </div>
    </div>
  </div>
</div>








{% endblock content %}